$dark-blue: #091336;
$whiteTrans: rgba(255, 255, 255, 0.6);
$whiteBack: rgba(216, 228, 251, 0.32);
$white: #fff;
$brightBlue: #002CFB;
$brightBlue2: #0024CB;

$green:#28A879;
$red: #EA1A4F;
$yellow: #FFD500;
$grey: #ADBFDF;

$liColor : #DEE4FE;


$greySerif: rgba(137, 156, 177, 0.6)